<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Syncfusion.CI.MVCApp-20160428103008.mdf;Initial Catalog=aspnet-Syncfusion.CI.MVCApp-20160428103008;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BuildAutomationEntities" connectionString="metadata=res://*/DBEntities.BuildAutomation.csdl|res://*/DBEntities.BuildAutomation.ssdl|res://*/DBEntities.BuildAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.76.15.212,4858;initial catalog=BuildSyncfusion;user id=BuildSyncfusionAdmin;password=VF$#%fkjGHgh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="BuildAutomationEntities" connectionString="metadata=res://*/DBEntities.BuildAutomation.csdl|res://*/DBEntities.BuildAutomation.ssdl|res://*/DBEntities.BuildAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.76.15.164,14568;initial catalog=BuildSyncfusionTest;user id=BuildSyncfusionStaging;password=Pvcdj9$Dv@kJ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SyncfusionAnalyticsEntities" connectionString="metadata=res://*/DBEntities.SyncfusionAnalytics.csdl|res://*/DBEntities.SyncfusionAnalytics.ssdl|res://*/DBEntities.SyncfusionAnalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.156.224.35,2017;initial catalog=JIRA;user id=Install;password=GliH$%vo990;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="syncdbEntities" connectionString="metadata=res://*/DBEntities.SyncfusionWebsite.csdl|res://*/DBEntities.SyncfusionWebsite.ssdl|res://*/DBEntities.SyncfusionWebsite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=syncfusiondb.eastus.cloudapp.azure.com,8754;initial catalog=syncdb;user id=Install;password=p9H9kDwy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <configProtectedData>
    <providers>
      <remove name="RSAProtectedConfigurationProvider" />
      <add keyContainerName="RSAKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="RsaProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="port" value="587" />
    <add key="supportinbox" value="buildautomation@syncfusion.com" />
    <add key="postmasterID" value="AKIAJ5W3G2Z6F2ZHAREQ" />
    <add key="postmasterPWD" value="E7HsW/NWPVljoVBwfQp5fXdMCOK37qwx+U1geVRG" />
    <add key="postmasterEmail" value="AutoMailer@syncfusion.com" />
    <add key="Web-Admin" value="karthickraja.ponnusamy@syncfusion.com" />
    <add key="DT-Admin" value="" />
    <add key="mercury_SMTPServer" value="smtp.office365.com" />
    <add key="mercury_port" value="587" />
    <add key="mercuryID" value="buildautomation@syncfusion.com" />
    <add key="mercuryPWD" value="Coolcomp299" />
    <add key="TemplatPath" value="" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.55.0" newVersion="2.3.55.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>