<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Exceptionless" version="4.0.1955" targetFramework="net45" />
  <package id="Exceptionless.Mvc" version="4.0.1955" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Syncfusion.CI.Base" version="1.0.6" targetFramework="net461" />
  <package id="Syncfusion.CodeAnalysis.FxCop" version="1.0.2" targetFramework="net4" />
  <package id="Syncfusion.CodeAnalysis.StyleCop" version="1.0.2" targetFramework="net4" />
  <package id="M_Syncfusion.Customer.Base" version="2.2.51" targetFramework="net461" />
  <package id="M_Syncfusion.EmailSender.Base" version="1.1.8.1" targetFramework="net461" />
  <package id="Syncfusion.GitLab.BranchManagement" version="1.2.0" targetFramework="net45" />
  <package id="Syncfusion-NVelocity" version="1.0.3.0" targetFramework="net45" />
</packages>