<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AccessKey" value="AKIAWH6GYCX36G4NLIJY"/>
    <add key="SecretKey" value="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"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
