<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.LicenseKey.Genration" version="1.0.1" targetFramework="net40" />
  <package id="Syncfusion.AWSSDK40.Package" version="1.0.0" targetFramework="net40" />
  <package id="Syncfusion.BCrypt40.Package" version="1.0.0" targetFramework="net40" />
  <package id="Syncfusion.Core" version="20.2.0.1" targetFramework="net40" />
  <package id="Syncfusion.EmailSender.Base40.Package" version="1.0.0" targetFramework="net40" />
  <package id="Syncfusion.NVelocity40.Package" version="1.0.0" targetFramework="net40"/>
</packages>